.contact {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fbfaff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.contant-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contant-text h1 {
  font-family: PollyRounded-Light;
  margin-top: 30px;
}
.contant-text h2 {
  font-family: Amaranth-Italic;
}
.contant-text p {
  font-family: PollyRounded-Bold;
  margin-top: 3px;
}
.contact-hire {
  display: flex;
  align-items: center;
  background-color: red;
  width: 310px;
  height: 50px;
  margin-top: 280px;
}
.contact-hire a {
  text-decoration: none;
  margin-left: 20px;
  padding: 5px;
  color: #ffffff;
  font-family: Amaranth-Regular;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #000000;
}
