@import "navbar.css";
@import "reset.css";
@import "font.css";
@import "home.css";
@import "about.css";
@import "do.css";
@import "skill.css";
@import "experience.css";
@import "project.css";
@import "gallery.css";
@import "contact.css";