.navbar {
    width: 100%;
    display: flex;
}
.navbar-logo {
    flex: 2;
}
.navbar-list {
    flex: 2;
}
.navbar-list ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li a{
    display: block;
    text-align: center;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: Amaranth-Regular;
    border-bottom: transparent solid 1px;
}
.navbar li a:hover {
    border-bottom: black solid 1px;
}
.navbar-logo h1 {
    margin-top: 15px;
    margin-left: 50px;
    color: black;
    font-family: Amaranth-Bold;
}